@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url('./../fonts/Inter/Inter.eot'); /* IE9 eot*/
  src: url('./../fonts/Inter/Inter.eot?iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./../fonts/Inter/Inter.woff2') format('woff2'),
    /* chrome、firefox */ url('./../fonts/Inter/Inter.woff') format('woff'),
    /* chrome、firefox */ url('./../fonts/Inter/Inter.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./../fonts/Inter/Inter.svg#Inter-Regular') format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  src: url('./../fonts/Inter Medium/Inter Medium.eot'); /* IE9 eot*/
  src: url('./../fonts/Inter Medium/Inter Medium.eot?iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./../fonts/Inter Medium/Inter Medium.woff2')
      format('woff2'),
    /* chrome、firefox */ url('./../fonts/Inter Medium/Inter Medium.woff')
      format('woff'),
    /* chrome、firefox */ url('./../fonts/Inter Medium/Inter Medium.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./../fonts/Inter Medium/Inter Medium.svg#Inter-Medium') format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  src: url('./../fonts/Inter Semi Bold/Inter Semi Bold.eot'); /* IE9 eot*/
  src: url('./../fonts/Inter Semi Bold/Inter Semi Bold.eot?iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./../fonts/Inter Semi Bold/Inter Semi Bold.woff2')
      format('woff2'),
    /* chrome、firefox */ url('./../fonts/Inter Semi Bold/Inter Semi Bold.woff')
      format('woff'),
    /* chrome、firefox */ url('./../fonts/Inter Semi Bold/Inter Semi Bold.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./../fonts/Inter Semi Bold/Inter Semi Bold.svg#Inter-SemiBold')
      format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: italic;
  src: url('./../fonts/Inter Semi Bold Italic/Inter Semi Bold Italic.eot'); /* IE9 eot*/
  src: url('./../fonts/Inter Semi Bold Italic/Inter Semi Bold Italic.eot?iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./../fonts/Inter Semi Bold Italic/Inter Semi Bold Italic.woff2')
      format('woff2'),
    /* chrome、firefox */
      url('./../fonts/Inter Semi Bold Italic/Inter Semi Bold Italic.woff')
      format('woff'),
    /* chrome、firefox */
      url('./../fonts/Inter Semi Bold Italic/Inter Semi Bold Italic.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./../fonts/Inter Semi Bold Italic/Inter Semi Bold Italic.svg#Inter-SemiBoldItalic')
      format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  src: url('./../fonts/Inter Bold/Inter Bold.eot'); /* IE9 eot*/
  src: url('./../fonts/Inter Bold/Inter Bold.eot?iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./../fonts/Inter Bold/Inter Bold.woff2') format('woff2'),
    /* chrome、firefox */ url('./../fonts/Inter Bold/Inter Bold.woff')
      format('woff'),
    /* chrome、firefox */ url('./../fonts/Inter Bold/Inter Bold.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./../fonts/Inter Bold/Inter Bold.svg#Inter-Bold') format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: italic;
  src: url('./../fonts/Inter Bold Italic/Inter Bold Italic.eot'); /* IE9 eot*/
  src: url('./../fonts/Inter Bold Italic/Inter Bold Italic.eot?iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./../fonts/Inter Bold Italic/Inter Bold Italic.woff2')
      format('woff2'),
    /* chrome、firefox */
      url('./../fonts/Inter Bold Italic/Inter Bold Italic.woff') format('woff'),
    /* chrome、firefox */
      url('./../fonts/Inter Bold Italic/Inter Bold Italic.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./../fonts/Inter Bold Italic/Inter Bold Italic.svg#Inter-BoldItalic')
      format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src: url('./../fonts/Poppins Regular/Poppins Regular.eot'); /* IE9 eot*/
  src: url('./../fonts/Poppins Regular/Poppins Regular.eot?iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./../fonts/Poppins Regular/Poppins Regular.woff2')
      format('woff2'),
    /* chrome、firefox */ url('./../fonts/Poppins Regular/Poppins Regular.woff')
      format('woff'),
    /* chrome、firefox */ url('./../fonts/Poppins Regular/Poppins Regular.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./../fonts/Poppins Regular/Poppins Regular.svg#Poppins-Regular')
      format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('./../fonts/Poppins Medium/Poppins Medium.eot'); /* IE9 eot*/
  src: url('./../fonts/Poppins Medium/Poppins Medium.eot?iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./../fonts/Poppins Medium/Poppins Medium.woff2')
      format('woff2'),
    /* chrome、firefox */ url('./../fonts/Poppins Medium/Poppins Medium.woff')
      format('woff'),
    /* chrome、firefox */ url('./../fonts/Poppins Medium/Poppins Medium.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./../fonts/Poppins Medium/Poppins Medium.svg#Poppins-Medium')
      format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'Coolvetica';
  font-weight: 400;
  font-style: normal;
  src: url('./../fonts/Coolvetica-Regular/Coolvetica-Regular.eot'); /* IE9 eot*/
  src: url('./../fonts/Coolvetica-Regular/Coolvetica-Regular.eot?iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./../fonts/Coolvetica-Regular/Coolvetica-Regular.woff2')
      format('woff2'),
    /* chrome、firefox */
      url('./../fonts/Coolvetica-Regular/Coolvetica-Regular.woff')
      format('woff'),
    /* chrome、firefox */
      url('./../fonts/Coolvetica-Regular/Coolvetica-Regular.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./../fonts/Coolvetica-Regular/Coolvetica-Regular.svg#Coolvetica-Regular')
      format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'Coolvetica';
  font-weight: 400;
  font-style: italic;
  src: url('./../fonts/Coolvetica W01 Regular Italic/Coolvetica W01 Regular Italic.eot'); /* IE9 eot*/
  src: url('./../fonts/Coolvetica W01 Regular Italic/Coolvetica W01 Regular Italic.eot?iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./../fonts/Coolvetica W01 Regular Italic/Coolvetica W01 Regular Italic.woff2')
      format('woff2'),
    /* chrome、firefox */
      url('./../fonts/Coolvetica W01 Regular Italic/Coolvetica W01 Regular Italic.woff')
      format('woff'),
    /* chrome、firefox */
      url('./../fonts/Coolvetica W01 Regular Italic/Coolvetica W01 Regular Italic.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./../fonts/Coolvetica W01 Regular Italic/Coolvetica W01 Regular Italic.svg#CoolveticaW01-RegularIt')
      format('svg'); /* iOS 4.1- */
}
